<!-- -->
<launch>

	<arg name="ars_sim_sensor_vel_robot_node_name" 	default="ars_sim_sensor_vel_robot_node" />
	<arg name="screen" 	default="screen" />


  <node name="$(arg ars_sim_sensor_vel_robot_node_name)" pkg="ars_sim_sensor_vel_robot" type="ars_sim_sensor_vel_robot_ros_node.py" output="$(arg screen)" >


  </node>


</launch>
